body{
    font: "Raleway",sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    top: 0.5%;
    background: linear-gradient(to right,red,yellow);

}
h1{
    font: 600 3.5rem "Raleway" ,sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5;
    width: 100%;
}
h3{
    font: 600 1rem "Raleway" ,sans-serif;
    color: rgba(0, 0, 0, 0.5);
    text-align: center;

}

